{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>新闻用户登陆</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="{% static 'imgs/favicon.ico' %}" rel="icon" type="image/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" href='{% static  "css/bootstrap.min.css"%}'>
	<link rel="stylesheet" href='{% static "css/animate.css" %}'>
	<link rel="stylesheet" href='{% static "css/style.css" %}'>


	<!-- Modernizr JS -->
	<script src='{% static "js/modernizr-2.6.2.min.js"%}'></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src='{% static "js/respond.min.js" %}'></script>
	<![endif]-->

	</head>
	<body class="style-2">

		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="menu">
						<li>登&nbsp;&nbsp;陆&nbsp;&nbsp;账&nbsp;&nbsp;号</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">

					<!-- Start Sign In Form -->
					<form action="{% url 'login_n' %}" class="fh5co-form animate-box" data-animate-effect="fadeInLeft" method="post">
						{% csrf_token %}
                        <h2>登陆账号</h2>
                        {% if info == '账号不存在！' %}
                        <div class="form-group">
							<div class="alert alert-warning" role="alert">{{ info }}</div>
						</div>
                        {% endif %}

						<div class="form-group">
							<label for="username" class="sr-only">邮箱</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="邮箱" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="password" class="sr-only">密码</label>
							<input type="password" class="form-control" id="password" name="password" placeholder="密码" autocomplete="off">
						</div>
                    	<div class="form-group">
                         <input type="text" name="code" class="form-control"/>
                <img src="{% url 'verify'%}" onclick="this.src='{% url 'verify' %}?sn='+Math.random()"/>
						</div>


{#						<div class="form-group">#}
{#							<p>忘记密码： <a href="sign-up2.html">注册</a> | <a href="forgot2.html">Forgot Password?</a></p>#}
{#						</div>#}
						<div class="form-group">
							<input type="submit" value="Sign In" class="btn btn-primary">
						</div>
					</form>
					<!-- END Sign In Form -->

				</div>
			</div>
		</div>
	<!-- jQuery -->
	<script src='{% static "js/jquery.min.js"%}'></script>
	<!-- Bootstrap -->
	<script src='{% static "js/bootstrap.min.js"%}'></script>
	<!-- Placeholder -->
	<script src='{% static "js/jquery.placeholder.min.js" %}'></script>
	<!-- Waypoints -->
	<script src='{% static "js/jquery.waypoints.min.js"%}'></script>
	<!-- Main JS -->
	<script src='{% static "js/main.js"%}'></script>

	</body>
</html>

